body {
  color: #747704;
}

h2 {
  color: #BCBBBB;
}

h1 {
  margin-bottom: 0;
}

@media screen and (min-width: 770px) {
  .container {
    width: 770px;
  }
}

@media screen and (max-width: 550px) {
  h1 {
    margin-top: .1em;
  }
}
.page-header {
  border-bottom: 2px solid #BCBBBB;
}

.col-md-12 {
  padding-left: 0;
  padding-right: 0;
}

.col-xs-10 {
  padding-left: 0;
}

.col-xs-2 {
  padding-left: 0;
  padding-right: 0;
}

.logo {
  min-width:50px;
  margin-right: 0;
  margin-left: 1.35em;
}

.no-btm-space {
  margin: 0;
}