body {
    font-family: 'Lato', sans-serif;
    color: #747704;
    font-weight: 300;
}

h2 {
  color: #BCBBBB;
}

h1 {
  margin-bottom: 0;
}

img {
  width: 100%;
  margin: auto;
}

@media screen and (min-width: 770px) {
  .container {
    width: 770px;
  }
}

@media screen and (max-width: 550px) {
  h1 {
    margin-top: .1em;
  }
}

.page-header {
  border-bottom: 2px solid #BCBBBB;
  margin-top: 1em;
  padding-bottom: 0;
}

.col-md-12 {
  padding-left: 0;
  padding-right: 0;
}

.col-xs-10 {
  padding-left: 0;
}

.col-xs-2 {
  padding-left: 0;
  padding-right: 0;
}

.logo {
  width:100%;
  /*max-width: 95px;*/
  max-height: 120px;
  margin-right: 0;
  margin-left: 1.35em;
}

.vbottom {
  display: table-cell;
  vertical-align: bottom;
}

.text-muted {
  color: #BCBBBB;
}

.text-thin {
  font-weight: 100;
}

.title-super {
    font-size: 60px;
}

.title-logo {
    margin-top: 20px;
}

.title-logo {
    margin-top: 20px;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h2, h3 {
  font-weight: 800;
}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 519px) {

  .title-super {
      font-size: 8vw;
  }

  .title-minor {
      font-size: 3.6vw;
  }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 520px) and (max-width : 991px) {

  .title-super {
      font-size: 5.7vw;
  }

  .title-minor {
      font-size: 2.2vw;
  }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

  .title-super {
      font-size: 4.5vw;
  }

  .title-minor {
      font-size: 1.8vw;
  }
}

/* Large Devices, Wide Screens */
/*@media only screen and (min-width : 1200px) {

  .title-super {
      font-size: 60px;
  }

  .title-logo {
      margin-top: 20px;
  }

}*/


/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}
